<!DOCTYPE html>
<html lang="en">
  <a href="./">Go to Shipments Page</a><br>
  <a href="../inventoryItems">Go to Inventory View and Creation Page</a>
  <h1>Edit Shipment:</h1>
  <form
    id="edit-form"
    action="/shipments/<%= shipments._id %>?_method=PUT"
    method="POST"
  >
    <div id="customer">
      <label for="input_text">Change Customer Name:</label>
      <input
        id="input_text"
        type="text"
        name="customer"
        placeholder="<%= shipments.customer %>"
        data-length="40"
      />
    </div>

    <div id="shipmentName">
      <p>Shipment ID: <%= shipments._id%></p>
    </div>
    <button type="submit">Submit</button>
  </form>

  <h2>Inventory Items in Shipment:</h2>
  <% for (const item of shipments['items']) { %>

  <div id="shipmentItems">
    <p>Item Name: <%= item.itemName %></p>
    

    <button type="submit">Delete</button>
  </form>
  </div>
  <% } %>
</html>
