<!DOCTYPE html>
<html lang="en">
  <h1>Edit Item</h1>
  <form
    id="edit-form"
    action="/inventoryItems/<%= item._id %>?_method=PUT"
    method="POST"
  >
    <div id="itemName">
      <label for="input_text">Item Name:</label>
      <input
        id="input_text"
        type="text"
        name="itemName"
        placeholder="<%= item.itemName %>"
        data-length="40"
      />
    </div>
    <div id="itemName">
      <p>Item ID: <%= item._id%></p>
    </div>

    <button type="submit">Submit</button>
  </form>
</html>
