<!DOCTYPE html>
<html lang="en">

<h2>Enter a New Inventory Item</h2>
<form action="/inventoryitems" method="POST">
  <label>Item Name:
    <input type="text" name="itemName">
  </label><br>
  <input type="submit" value="Add Item">
</form>

</html>